<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ericsson.oae.phonegap.sample"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	
	<uses-permission android:name="com.dsi.ant.permission.ANT" />
    <uses-permission android:name="com.dsi.ant.permission.ANT_ADMIN" />
    
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    
    <application android:icon="@drawable/applogo" android:label="@string/app_name">
        <activity android:name=".AppActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan">						<!--soft keyboard lays above the application main window which is not scrolled-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<uses-library android:name="com.dsi.ant.antradio_library" />
    </application>
</manifest>